In [1]:
## IMPORTACIÓN GENERAL DE LIBRERIAS Y VISUALIZACIÓN DE DATOS (matplotlib y seaborn)
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as DT
import warnings
%matplotlib inline
warnings.filterwarnings('ignore')
plt.style.use('default') 
sns.set(style="whitegrid") 
plt.rcParams['figure.figsize'] = (15, 10)
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB, BernoulliNB, MultinomialNB

In [2]:
educacion_1 = ''
edad_genero_1 = ''
vistas_avisos_1 = ''
postulaciones_1 = ''
avisos_online_1 = ''
avisos_detalle_1 = ''

educacion_2 = ''
edad_genero_2 = ''
vistas_avisos_2 = ''
postulaciones_2 = ''
avisos_online_2 = ''
avisos_detalle_2 = ''

educacion_3 = ''
edad_genero_3 = ''
vistas_avisos_3 = ''
avisos_detalle_3 = ''

avisos_detalle_4 = ''

In [3]:
postulantes = ''
educacion = ''
edad_genero = ''
vistas_avisos = ''
postulaciones = ''
avisos_online = ''
avisos_detalle = ''
vistas_avisos = ''
test_final = ''

#### ========================================================
#### Procesamos los primeros archivos .CSV provistos por navent.
#### ========================================================

In [ ]:
#########################################################################################################################
#########################################################################################################################
### POSTULANTES. ###
#########################################################################################################################
#########################################################################################################################

In [3]:
## OBTENEMOS TODA LA INFORMACIÓN DE: ( fiuba_1_postulantes_educacion )
educacion_1 = pd.read_csv('navent_fiuba_1/fiuba_1_postulantes_educacion.csv') ## memory usage: 46.0 MB
educacion_2 = pd.read_csv('navent_fiuba_2/fiuba_1_postulantes_educacion.csv') ## memory usage: 62.9 MB
educacion_3 = pd.read_csv('navent_fiuba_3/fiuba_1_postulantes_educacion.csv') ## memory usage: 61.3 MB

In [4]:
## UNIFICO TODOS LOS DATAFRAME EN UNO SOLO: ( educacion )
educacion = pd.concat([educacion_1, educacion_2, educacion_3])
educacion.reset_index()
educacion.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1103193 entries, 0 to 397508
Data columns (total 3 columns):
idpostulante    1103193 non-null object
nombre          1103193 non-null object
estado          1103193 non-null object
dtypes: object(3)
memory usage: 33.7+ MB

In [5]:
## OBTENEMOS TODA LA INFORMACIÓN DE: ( fiuba_2_postulantes_genero_y_edad )
edad_genero_1 = pd.read_csv('navent_fiuba_1/fiuba_2_postulantes_genero_y_edad.csv') ## memory usage: 29.7 MB
edad_genero_2 = pd.read_csv('navent_fiuba_2/fiuba_2_postulantes_genero_y_edad.csv') ## memory usage: 43.8 MB
edad_genero_3 = pd.read_csv('navent_fiuba_3/fiuba_2_postulantes_genero_y_edad.csv') ## memory usage: 41.5 MB

In [6]:
## UNIFICO TODOS LOS DATAFRAME EN UNO SOLO: ( edad_genero )
edad_genero = pd.concat([edad_genero_1, edad_genero_2, edad_genero_3])
edad_genero.reset_index()
edad_genero.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 780020 entries, 0 to 281384
Data columns (total 3 columns):
idpostulante       780020 non-null object
fechanacimiento    745747 non-null object
sexo               780020 non-null object
dtypes: object(3)
memory usage: 23.8+ MB

In [7]:
## UNIFICACIÓN BÁSICA SOBRE LA INFORMACIÓN DE LOS POSTULANTES.
postulantes = educacion.merge(edad_genero,left_on='idpostulante', right_on='idpostulante',how='outer')
## TRANSFORMAMOS A DATETIME LA FECHA DE NACIMIENTO DE LOS POSTULANTES.
postulantes['fechanacimiento'] = pd.to_datetime(postulantes['fechanacimiento'], errors = 'coerce')
## CALCULAMOS LA EDAD DE LOS POSTULANTES CON UN VALOR NUMÉRICO.
now = pd.Timestamp(DT.datetime.now())
postulantes['edad'] = (now - postulantes['fechanacimiento']).astype('<m8[Y]')
## SOLO CONSIDERAMOS COMO VÁLIDOS AQUELLOS POSTULANTES DE ENTRE 17 Y 100 AÑOS.
postulantes = postulantes[(postulantes['edad'] > 17) & (postulantes['edad'] < 80)]
## ANALIZAMOS LOS NIVELES EDUCATIVOS Y UNIFICAMOS CRITERIOS SOBRE ESTOS.
postulantes.loc[postulantes.nombre == 'Terciario/Técnico', 'nombre'] = 'Terciario'
postulantes.loc[postulantes.nombre == 'Terciario/Tecnico', 'nombre'] = 'Terciario'

In [8]:
## ARMAMOS LOS DIFERENTES RANGOS DE EDAD QUE SE PUEDEN IR DANDO ENTRE LOS POSTULANTES.
postulantes['rango_edad'] = 1
postulantes.loc[postulantes.edad < 20, 'rango_edad'] = 1
postulantes.loc[(postulantes.edad >= 20) & (postulantes.edad <= 24), 'rango_edad'] = 2
postulantes.loc[(postulantes.edad >= 25) & (postulantes.edad <= 29), 'rango_edad'] = 3
postulantes.loc[(postulantes.edad >= 30) & (postulantes.edad <= 34), 'rango_edad'] = 4
postulantes.loc[(postulantes.edad >= 35) & (postulantes.edad <= 39), 'rango_edad'] = 5
postulantes.loc[(postulantes.edad >= 40) & (postulantes.edad <= 44), 'rango_edad'] = 6
postulantes.loc[(postulantes.edad >= 45) & (postulantes.edad <= 49), 'rango_edad'] = 7
postulantes.loc[(postulantes.edad >= 50) & (postulantes.edad <= 54), 'rango_edad'] = 8
postulantes.loc[(postulantes.edad >= 55) & (postulantes.edad <= 59), 'rango_edad'] = 9
postulantes.loc[(postulantes.edad >= 60) & (postulantes.edad <= 64), 'rango_edad'] = 10
postulantes.loc[postulantes.edad > 65, 'rango_edad'] = 11

In [9]:
postulantes.loc[postulantes.sexo == 'FEM', 'sexo'] = 0
postulantes.loc[postulantes.sexo == 'MASC', 'sexo'] = 1
postulantes.loc[postulantes.sexo == 'NO_DECLARA', 'sexo'] = 2
postulantes.loc[postulantes.sexo == '0.0', 'sexo'] = 2

In [10]:
postulantes.loc[postulantes.nombre == 'Universitario', 'nombre'] = 0
postulantes.loc[postulantes.nombre == 'Secundario', 'nombre'] = 1
postulantes.loc[postulantes.nombre == 'Terciario', 'nombre'] = 2
postulantes.loc[postulantes.nombre == 'Otro', 'nombre'] = 3
postulantes.loc[postulantes.nombre == 'Posgrado', 'nombre'] = 4
postulantes.loc[postulantes.nombre == 'Master', 'nombre'] = 5
postulantes.loc[postulantes.nombre == 'Doctorado', 'nombre'] = 6

In [11]:
postulantes.loc[postulantes.estado == 'Graduado', 'estado'] = 0
postulantes.loc[postulantes.estado == 'En Curso', 'estado'] = 1
postulantes.loc[postulantes.estado == 'Abandonado', 'estado'] = 2

In [12]:
postulantes.loc[postulantes.estado.isnull(), 'estado'] = 3
postulantes.loc[postulantes.nombre.isnull(), 'nombre'] = 7

In [13]:
## HACEMOS UNA DIFERENCIA ENTRE LA HORA EN QUE SE LLEVÓ A CABO LA POSTULACION.
postulantes['mes_nacimiento'] = postulantes['fechanacimiento'].dt.month
postulantes['dia_nacimiento'] = postulantes['fechanacimiento'].dt.day
postulantes.head()

,idpostulante,nombre,estado,fechanacimiento,sexo,edad,rango_edad,mes_nacimiento,anio_nacimiento
0,NdJl,4,1,1969-05-09,1,49.0,7,5,1969
1,NdJl,4,1,1969-05-09,1,49.0,7,5,1969
2,NdJl,4,1,1969-05-09,1,49.0,7,5,1969
3,NdJl,0,0,1969-05-09,1,49.0,7,5,1969
4,NdJl,0,0,1969-05-09,1,49.0,7,5,1969

In [14]:
## PASAMOS TODO A INT8
postulantes['nombre'] = postulantes['nombre'].astype(np.int8)
postulantes['estado'] = postulantes['estado'].astype(np.int8)
postulantes['sexo'] = postulantes['sexo'].astype(np.int8)
postulantes['edad'] = postulantes['edad'].astype(np.int8)
postulantes['rango_edad'] = postulantes['rango_edad'].astype(np.int8)
postulantes['mes_nacimiento'] = postulantes['mes_nacimiento'].astype(np.int8)
postulantes['dia_nacimiento'] = postulantes['dia_nacimiento'].astype(np.int8)

In [16]:
postulantes.drop('fechanacimiento', axis=1, inplace=True)
postulantes.drop_duplicates(subset=['idpostulante','nombre','estado'], keep='first', inplace=True)
postulantes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2155822 entries, 0 to 2206434
Data columns (total 8 columns):
idpostulante       object
nombre             int8
estado             int8
sexo               int8
edad               int8
rango_edad         int8
mes_nacimiento     int8
anio_nacimiento    int16
dtypes: int16(1), int8(6), object(1)
memory usage: 49.3+ MB

In [ ]:
#########################################################################################################################
#########################################################################################################################
### VISITAS. ###
#########################################################################################################################
#########################################################################################################################

In [4]:
## OBTENEMOS TODA LA INFORMACIÓN DE: ( fiuba_3_vistas )
vistas_avisos_1 = pd.read_csv('navent_fiuba_1/fiuba_3_vistas.csv') ## memory usage: 121.8 MB
vistas_avisos_2 = pd.read_csv('navent_fiuba_2/fiuba_3_vistas.csv') ## memory usage: 729.3 MB
vistas_avisos_3 = pd.read_csv('navent_fiuba_3/fiuba_3_vistas.csv') ## memory usage: 1.4 GB
## UNIFICO TODOS LOS DATAFRAME EN UNO SOLO: ( vistas_avisos )
vistas_avisos = pd.concat([vistas_avisos_1, vistas_avisos_2, vistas_avisos_3])
vistas_avisos.reset_index()
vistas_avisos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18368813 entries, 0 to 11648229
Data columns (total 3 columns):
idAviso         int64
timestamp       object
idpostulante    object
dtypes: int64(1), object(2)
memory usage: 560.6+ MB

In [5]:
## TRANSFORMAMOS A DATETIME LA FECHA DE NACIMIENTO DE LOS POSTULANTES.
vistas_avisos['timestamp'] = pd.to_datetime(vistas_avisos['timestamp'], errors = 'coerce')
vistas_avisos.drop_duplicates(subset=['idAviso','timestamp','idpostulante'], keep='first', inplace=True)
vistas_avisos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16754298 entries, 0 to 11648229
Data columns (total 3 columns):
idAviso         int64
timestamp       datetime64[ns]
idpostulante    object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 511.3+ MB

In [6]:
## HACEMOS UNA DIFERENCIA ENTRE EL DÍA DE LA SEMANA EN EL QUE SE LLEVÓ A CABO LA VISITA.
vistas_avisos['dia_semana'] = vistas_avisos['timestamp'].dt.weekday_name
vistas_avisos['dia_semana'] = vistas_avisos['dia_semana'].astype('category')
vistas_avisos['dia_semana'] = vistas_avisos['dia_semana'].cat.codes
vistas_avisos['dia_semana'] = vistas_avisos['dia_semana'].astype(np.int8)
vistas_avisos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16754298 entries, 0 to 11648229
Data columns (total 4 columns):
idAviso         int64
timestamp       datetime64[ns]
idpostulante    object
dia_semana      int8
dtypes: datetime64[ns](1), int64(1), int8(1), object(1)
memory usage: 527.3+ MB

In [7]:
## HACEMOS UNA DIFERENCIA ENTRE LA HORA EN QUE SE LLEVÓ A CABO LA POSTUVISITA.
vistas_avisos['hora'] = vistas_avisos['timestamp'].dt.hour
vistas_avisos['hora'] = vistas_avisos['hora'].astype(np.int8)
vistas_avisos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16754298 entries, 0 to 11648229
Data columns (total 5 columns):
idAviso         int64
timestamp       datetime64[ns]
idpostulante    object
dia_semana      int8
hora            int8
dtypes: datetime64[ns](1), int64(1), int8(2), object(1)
memory usage: 543.3+ MB

In [8]:
## ELIMINAMOS LA COLUMNA DE LA FECHA PRECISA QUE NO NOS BRINDA MAYOR INFORMACION DE LA YA OBTENIDA.
vistas_avisos.drop('timestamp', axis=1, inplace=True)
vistas_avisos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16754298 entries, 0 to 11648229
Data columns (total 4 columns):
idAviso         int64
idpostulante    object
dia_semana      int8
hora            int8
dtypes: int64(1), int8(2), object(1)
memory usage: 415.4+ MB

In [7]:
vistas_avisos['dia_semana'].value_counts()

NameError: name 'vistas_avisos' is not defined

In [ ]:
#########################################################################################################################
#########################################################################################################################
### AVISOS DETALLE. ###
#########################################################################################################################
#########################################################################################################################

In [9]:
## OBTENEMOS TODA LA INFORMACIÓN DE: ( fiuba_5_avisos_online )
avisos_online_1 = pd.read_csv('navent_fiuba_1/fiuba_5_avisos_online.csv') ## memory usage: 39.4 KB
avisos_online_2 = pd.read_csv('navent_fiuba_2/fiuba_5_avisos_online.csv') ## memory usage: 38.0 KB

In [10]:
## UNIFICO TODOS LOS DATAFRAME EN UNO SOLO: ( avisos_online )
avisos_online = pd.concat([avisos_online_1, avisos_online_2])
avisos_online.reset_index()
avisos_online.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9886 entries, 0 to 4857
Data columns (total 1 columns):
idaviso    9886 non-null int64
dtypes: int64(1)
memory usage: 154.5 KB

In [11]:
## OBTENEMOS TODA LA INFORMACIÓN DE: ( fiuba_6_avisos_detalle )
avisos_detalle_1 = pd.read_csv('navent_fiuba_1/fiuba_6_avisos_detalle.csv') ## memory usage: 24.3 MB
avisos_detalle_2 = pd.read_csv('navent_fiuba_2/fiuba_6_avisos_detalle.csv') ## memory usage: 32.8 MB
avisos_detalle_3 = pd.read_csv('navent_fiuba_3/fiuba_6_avisos_detalle.csv') ## memory usage: 24.6 MB
avisos_detalle_4 = pd.read_csv('navent_fiuba_4/fiuba_6_avisos_detalle_missing_nivel_laboral.csv') ## memory usage: 677.4 KB

In [12]:
## UNIFICO TODOS LOS DATAFRAME EN UNO SOLO: ( avisos_detalle )
avisos_detalle = pd.concat([avisos_detalle_1, avisos_detalle_2, avisos_detalle_3, avisos_detalle_4])
avisos_detalle.reset_index()
avisos_detalle.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45969 entries, 0 to 337
Data columns (total 11 columns):
idaviso                 45969 non-null int64
idpais                  45969 non-null int64
titulo                  45969 non-null object
descripcion             45969 non-null object
nombre_zona             45969 non-null object
ciudad                  225 non-null object
mapacalle               3444 non-null object
tipo_de_trabajo         45969 non-null object
nivel_laboral           45634 non-null object
nombre_area             45969 non-null object
denominacion_empresa    45955 non-null object
dtypes: int64(2), object(9)
memory usage: 4.2+ MB

In [13]:
avisos_detalle.drop('ciudad', axis=1, inplace=True)
avisos_detalle.drop('mapacalle', axis=1, inplace=True)

In [14]:
avisos_detalle.info()
avisos_detalle.nivel_laboral.replace(np.NaN, 'Otro', inplace=True)
avisos_detalle.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45969 entries, 0 to 337
Data columns (total 9 columns):
idaviso                 45969 non-null int64
idpais                  45969 non-null int64
titulo                  45969 non-null object
descripcion             45969 non-null object
nombre_zona             45969 non-null object
tipo_de_trabajo         45969 non-null object
nivel_laboral           45634 non-null object
nombre_area             45969 non-null object
denominacion_empresa    45955 non-null object
dtypes: int64(2), object(7)
memory usage: 3.5+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 45969 entries, 0 to 337
Data columns (total 9 columns):
idaviso                 45969 non-null int64
idpais                  45969 non-null int64
titulo                  45969 non-null object
descripcion             45969 non-null object
nombre_zona             45969 non-null object
tipo_de_trabajo         45969 non-null object
nivel_laboral           45969 non-null object
nombre_area             45969 non-null object
denominacion_empresa    45955 non-null object
dtypes: int64(2), object(7)
memory usage: 3.5+ MB

In [15]:
## POR LO QUE VEMOS LOS AVISOS QUE TIENEN NULO LA DENOMINACIÓN DE LA EMPRESA ESTAN VINCULADOS 
## DE UNA U OTRA FORMA CON PORTSAID, POR LO QUE PROCEDEMOS A COMPLETAR LOS DATOS PARA QUITAR NULOS.
avisos_detalle.info()
avisos_detalle.denominacion_empresa.replace(np.NaN, 'PORTSAID', inplace=True)
avisos_detalle.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45969 entries, 0 to 337
Data columns (total 9 columns):
idaviso                 45969 non-null int64
idpais                  45969 non-null int64
titulo                  45969 non-null object
descripcion             45969 non-null object
nombre_zona             45969 non-null object
tipo_de_trabajo         45969 non-null object
nivel_laboral           45969 non-null object
nombre_area             45969 non-null object
denominacion_empresa    45955 non-null object
dtypes: int64(2), object(7)
memory usage: 3.5+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 45969 entries, 0 to 337
Data columns (total 9 columns):
idaviso                 45969 non-null int64
idpais                  45969 non-null int64
titulo                  45969 non-null object
descripcion             45969 non-null object
nombre_zona             45969 non-null object
tipo_de_trabajo         45969 non-null object
nivel_laboral           45969 non-null object
nombre_area             45969 non-null object
denominacion_empresa    45969 non-null object
dtypes: int64(2), object(7)
memory usage: 3.5+ MB

In [16]:
## UNIFICAMOS CRITERIOS A LA HORA DE NOMBRAR LAS ZONAS QUE INTERVIENEN EN EL ANALISIS.
avisos_detalle.loc[avisos_detalle.nombre_zona == 'GBA Oeste', 'nombre_zona'] = 'Gran Buenos Aires'
avisos_detalle.loc[(avisos_detalle.nombre_zona != 'Gran Buenos Aires') & (avisos_detalle.nombre_zona != 'Capital Federal'), 'nombre_zona'] = 'Interior'

In [17]:
## VERIFICAMOS LAS AGRUPACIONES SOBRE LAS ZONAS DE LOS AVISOS.
avisos_detalle['nombre_zona'].value_counts()
## Gran Buenos Aires    42333 -- 1
## Capital Federal       3556 -- 2
## Interior                80 -- 3
## VAMOS A SEPARAR LAS 3 ZONAS QUE NOS QUEDAN Y TRANSFORMARLAS A VALORES ENTEROS.
avisos_detalle.nombre_zona[avisos_detalle.nombre_zona == 'Gran Buenos Aires'] = 1
avisos_detalle.nombre_zona[avisos_detalle.nombre_zona == 'Capital Federal'] = 2
avisos_detalle.nombre_zona[avisos_detalle.nombre_zona == 'Interior'] = 3
avisos_detalle.info()
avisos_detalle['nombre_zona'] = avisos_detalle['nombre_zona'].astype(np.int8)
avisos_detalle.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45969 entries, 0 to 337
Data columns (total 9 columns):
idaviso                 45969 non-null int64
idpais                  45969 non-null int64
titulo                  45969 non-null object
descripcion             45969 non-null object
nombre_zona             45969 non-null object
tipo_de_trabajo         45969 non-null object
nivel_laboral           45969 non-null object
nombre_area             45969 non-null object
denominacion_empresa    45969 non-null object
dtypes: int64(2), object(7)
memory usage: 3.5+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 45969 entries, 0 to 337
Data columns (total 9 columns):
idaviso                 45969 non-null int64
idpais                  45969 non-null int64
titulo                  45969 non-null object
descripcion             45969 non-null object
nombre_zona             45969 non-null int8
tipo_de_trabajo         45969 non-null object
nivel_laboral           45969 non-null object
nombre_area             45969 non-null object
denominacion_empresa    45969 non-null object
dtypes: int64(2), int8(1), object(6)
memory usage: 3.2+ MB

In [18]:
## VERIFICAMOS LAS AGRUPACIONES SOBRE LOS TIPOS DE TRABAJO DE LOS AVISOS.
avisos_detalle['tipo_de_trabajo'].value_counts()
## Full-time          41698 -- 1
## Part-time           3088 -- 2
## Teletrabajo          402 -- 3 
## Por Horas            225 -- 4
## Pasantia             207 -- 5
## Temporario           154 -- 6
## Por Contrato         139 -- 7
## Fines de Semana       45 -- 8
## Primer empleo         10 -- 9
## Voluntario             1 -- 10
## VAMOS A SEPARAR LOS TIPOS DE TRABAJO QUE NOS QUEDAN Y TRANSFORMARLAS A VALORES ENTEROS.
avisos_detalle.tipo_de_trabajo[avisos_detalle.tipo_de_trabajo == 'Full-time'] = 1
avisos_detalle.tipo_de_trabajo[avisos_detalle.tipo_de_trabajo == 'Part-time'] = 2
avisos_detalle.tipo_de_trabajo[avisos_detalle.tipo_de_trabajo == 'Teletrabajo'] = 3
avisos_detalle.tipo_de_trabajo[avisos_detalle.tipo_de_trabajo == 'Por Horas'] = 4
avisos_detalle.tipo_de_trabajo[avisos_detalle.tipo_de_trabajo == 'Pasantia'] = 5
avisos_detalle.tipo_de_trabajo[avisos_detalle.tipo_de_trabajo == 'Temporario'] = 6
avisos_detalle.tipo_de_trabajo[avisos_detalle.tipo_de_trabajo == 'Por Contrato'] = 7
avisos_detalle.tipo_de_trabajo[avisos_detalle.tipo_de_trabajo == 'Fines de Semana'] = 8
avisos_detalle.tipo_de_trabajo[avisos_detalle.tipo_de_trabajo == 'Primer empleo'] = 9
avisos_detalle.tipo_de_trabajo[avisos_detalle.tipo_de_trabajo == 'Voluntario'] = 9

avisos_detalle.info()
avisos_detalle['tipo_de_trabajo'] = avisos_detalle['tipo_de_trabajo'].astype(np.int8)
avisos_detalle.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45969 entries, 0 to 337
Data columns (total 9 columns):
idaviso                 45969 non-null int64
idpais                  45969 non-null int64
titulo                  45969 non-null object
descripcion             45969 non-null object
nombre_zona             45969 non-null int8
tipo_de_trabajo         45969 non-null object
nivel_laboral           45969 non-null object
nombre_area             45969 non-null object
denominacion_empresa    45969 non-null object
dtypes: int64(2), int8(1), object(6)
memory usage: 3.2+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 45969 entries, 0 to 337
Data columns (total 9 columns):
idaviso                 45969 non-null int64
idpais                  45969 non-null int64
titulo                  45969 non-null object
descripcion             45969 non-null object
nombre_zona             45969 non-null int8
tipo_de_trabajo         45969 non-null int8
nivel_laboral           45969 non-null object
nombre_area             45969 non-null object
denominacion_empresa    45969 non-null object
dtypes: int64(2), int8(2), object(5)
memory usage: 2.9+ MB

In [19]:
## VERIFICAMOS LAS AGRUPACIONES SOBRE LOS NIVELES LABORALES DE LOS AVISOS.
avisos_detalle['nivel_laboral'].value_counts()
## Senior / Semi-Senior                    31280 -- 1
## Junior                                   7575 -- 2
## Otro                                     3731 -- 3
## Jefe / Supervisor / Responsable          2779 -- 4
## Gerencia / Alta Gerencia / Dirección      604 -- 5

## VAMOS A SEPARAR LOS TIPOS DE TRABAJO QUE NOS QUEDAN Y TRANSFORMARLAS A VALORES ENTEROS.
avisos_detalle.nivel_laboral[avisos_detalle.nivel_laboral == 'Senior / Semi-Senior'] = 1
avisos_detalle.nivel_laboral[avisos_detalle.nivel_laboral == 'Junior'] = 2
avisos_detalle.nivel_laboral[avisos_detalle.nivel_laboral == 'Otro'] = 3
avisos_detalle.nivel_laboral[avisos_detalle.nivel_laboral == 'Jefe / Supervisor / Responsable'] = 4
avisos_detalle.nivel_laboral[avisos_detalle.nivel_laboral == 'Gerencia / Alta Gerencia / Dirección'] = 5

avisos_detalle.info()
avisos_detalle['nivel_laboral'] = avisos_detalle['nivel_laboral'].astype(np.int8)
avisos_detalle.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45969 entries, 0 to 337
Data columns (total 9 columns):
idaviso                 45969 non-null int64
idpais                  45969 non-null int64
titulo                  45969 non-null object
descripcion             45969 non-null object
nombre_zona             45969 non-null int8
tipo_de_trabajo         45969 non-null int8
nivel_laboral           45969 non-null object
nombre_area             45969 non-null object
denominacion_empresa    45969 non-null object
dtypes: int64(2), int8(2), object(5)
memory usage: 2.9+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 45969 entries, 0 to 337
Data columns (total 9 columns):
idaviso                 45969 non-null int64
idpais                  45969 non-null int64
titulo                  45969 non-null object
descripcion             45969 non-null object
nombre_zona             45969 non-null int8
tipo_de_trabajo         45969 non-null int8
nivel_laboral           45969 non-null int8
nombre_area             45969 non-null object
denominacion_empresa    45969 non-null object
dtypes: int64(2), int8(3), object(4)
memory usage: 2.6+ MB

In [20]:
avisos_detalle.info()
avisos_detalle['titulo'] = avisos_detalle['titulo'].astype('str')
avisos_detalle['descripcion'] = avisos_detalle['descripcion'].astype('str')
avisos_detalle['denominacion_empresa'] = avisos_detalle['denominacion_empresa'].astype('str')
avisos_detalle.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45969 entries, 0 to 337
Data columns (total 9 columns):
idaviso                 45969 non-null int64
idpais                  45969 non-null int64
titulo                  45969 non-null object
descripcion             45969 non-null object
nombre_zona             45969 non-null int8
tipo_de_trabajo         45969 non-null int8
nivel_laboral           45969 non-null int8
nombre_area             45969 non-null object
denominacion_empresa    45969 non-null object
dtypes: int64(2), int8(3), object(4)
memory usage: 2.6+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 45969 entries, 0 to 337
Data columns (total 9 columns):
idaviso                 45969 non-null int64
idpais                  45969 non-null int64
titulo                  45969 non-null object
descripcion             45969 non-null object
nombre_zona             45969 non-null int8
tipo_de_trabajo         45969 non-null int8
nivel_laboral           45969 non-null int8
nombre_area             45969 non-null object
denominacion_empresa    45969 non-null object
dtypes: int64(2), int8(3), object(4)
memory usage: 2.6+ MB

In [21]:
## VERIFICAMOS LAS AGRUPACIONES SOBRE LAS AREAS DE LOS AVISOS.
##pd.options.display.max_rows = 200
##avisos_detalle['nombre_area'].value_counts()
avisos_detalle['nombre_zona'] = avisos_detalle['nombre_zona'].astype(np.int8)
avisos_detalle['tipo_de_trabajo'] = avisos_detalle['tipo_de_trabajo'].astype(np.int8)
avisos_detalle['nivel_laboral'] = avisos_detalle['nivel_laboral'].astype(np.int8)
avisos_detalle.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45969 entries, 0 to 337
Data columns (total 9 columns):
idaviso                 45969 non-null int64
idpais                  45969 non-null int64
titulo                  45969 non-null object
descripcion             45969 non-null object
nombre_zona             45969 non-null int8
tipo_de_trabajo         45969 non-null int8
nivel_laboral           45969 non-null int8
nombre_area             45969 non-null object
denominacion_empresa    45969 non-null object
dtypes: int64(2), int8(3), object(4)
memory usage: 2.6+ MB

In [22]:
avisos_detalle['nombre_area'] = avisos_detalle['nombre_area'].astype('category')
avisos_detalle['nombre_area'] = avisos_detalle['nombre_area'].cat.codes
avisos_detalle['nombre_area'] = avisos_detalle['nombre_area'].astype(np.int8)
avisos_detalle.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45969 entries, 0 to 337
Data columns (total 9 columns):
idaviso                 45969 non-null int64
idpais                  45969 non-null int64
titulo                  45969 non-null object
descripcion             45969 non-null object
nombre_zona             45969 non-null int8
tipo_de_trabajo         45969 non-null int8
nivel_laboral           45969 non-null int8
nombre_area             45969 non-null int8
denominacion_empresa    45969 non-null object
dtypes: int64(2), int8(4), object(3)
memory usage: 2.3+ MB

In [23]:
## AGREGAMOS UN DATO PARA DISTINGUIR LOS AVISOS ONLINE.
avisos_online['esta_online'] = 1
avisos_online['esta_online'] = avisos_online['esta_online'].astype(np.int8)
avisos_online.info()
avisos_detalle.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9886 entries, 0 to 4857
Data columns (total 2 columns):
idaviso        9886 non-null int64
esta_online    9886 non-null int8
dtypes: int64(1), int8(1)
memory usage: 164.1 KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 45969 entries, 0 to 337
Data columns (total 9 columns):
idaviso                 45969 non-null int64
idpais                  45969 non-null int64
titulo                  45969 non-null object
descripcion             45969 non-null object
nombre_zona             45969 non-null int8
tipo_de_trabajo         45969 non-null int8
nivel_laboral           45969 non-null int8
nombre_area             45969 non-null int8
denominacion_empresa    45969 non-null object
dtypes: int64(2), int8(4), object(3)
memory usage: 2.3+ MB

In [24]:
avisos_detalle.drop_duplicates('idaviso', keep='first', inplace=True)
ids = avisos_detalle["idaviso"]
avisos_detalle[ids.isin(ids[ids.duplicated()])].sort_values("idaviso")
avisos_detalle.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25288 entries, 0 to 337
Data columns (total 9 columns):
idaviso                 25288 non-null int64
idpais                  25288 non-null int64
titulo                  25288 non-null object
descripcion             25288 non-null object
nombre_zona             25288 non-null int8
tipo_de_trabajo         25288 non-null int8
nivel_laboral           25288 non-null int8
nombre_area             25288 non-null int8
denominacion_empresa    25288 non-null object
dtypes: int64(2), int8(4), object(3)
memory usage: 1.3+ MB

In [25]:
avisos_online.drop_duplicates('idaviso', keep='first', inplace=True)
ids = avisos_online["idaviso"]
avisos_online[ids.isin(ids[ids.duplicated()])].sort_values("idaviso")
avisos_online.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9430 entries, 0 to 4857
Data columns (total 2 columns):
idaviso        9430 non-null int64
esta_online    9430 non-null int8
dtypes: int64(1), int8(1)
memory usage: 156.6 KB

In [35]:
## UNIFICAMOS PARA SABER CUALES SON LOS QUE ESTAN ONLINE.
avisos_detalle_completo = avisos_detalle.merge(avisos_online,left_on='idaviso', right_on='idaviso',how='left')
avisos_detalle_completo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25288 entries, 0 to 25287
Data columns (total 10 columns):
idaviso                 25288 non-null int64
idpais                  25288 non-null int64
titulo                  25288 non-null object
descripcion             25288 non-null object
nombre_zona             25288 non-null int8
tipo_de_trabajo         25288 non-null int8
nivel_laboral           25288 non-null int8
nombre_area             25288 non-null int8
denominacion_empresa    25288 non-null object
esta_online             9151 non-null float64
dtypes: float64(1), int64(2), int8(4), object(3)
memory usage: 1.4+ MB

In [37]:
avisos_detalle_completo.loc[avisos_detalle_completo.esta_online != 1, 'esta_online'] = 0
avisos_detalle_completo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25288 entries, 0 to 25287
Data columns (total 10 columns):
idaviso                 25288 non-null int64
idpais                  25288 non-null int64
titulo                  25288 non-null object
descripcion             25288 non-null object
nombre_zona             25288 non-null int8
tipo_de_trabajo         25288 non-null int8
nivel_laboral           25288 non-null int8
nombre_area             25288 non-null int8
denominacion_empresa    25288 non-null object
esta_online             25288 non-null float64
dtypes: float64(1), int64(2), int8(4), object(3)
memory usage: 1.4+ MB

In [39]:
avisos_detalle_completo['idpais'] = avisos_detalle_completo['idpais'].astype(np.int8)
avisos_detalle_completo['esta_online'] = avisos_detalle_completo['esta_online'].astype(np.int8)
avisos_detalle_completo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25288 entries, 0 to 25287
Data columns (total 10 columns):
idaviso                 25288 non-null int64
idpais                  25288 non-null int8
titulo                  25288 non-null object
descripcion             25288 non-null object
nombre_zona             25288 non-null int8
tipo_de_trabajo         25288 non-null int8
nivel_laboral           25288 non-null int8
nombre_area             25288 non-null int8
denominacion_empresa    25288 non-null object
esta_online             25288 non-null int8
dtypes: int64(1), int8(6), object(3)
memory usage: 1.1+ MB

In [ ]:
#########################################################################################################################
#########################################################################################################################
### POSTULACIONES. ###
#########################################################################################################################
#########################################################################################################################

In [41]:
## OBTENEMOS TODA LA INFORMACIÓN DE: ( fiuba_4_postulaciones )
postulaciones_1 = pd.read_csv('navent_fiuba_1/fiuba_4_postulaciones.csv') ## memory usage: 401.6 MB
postulaciones_2 = pd.read_csv('navent_fiuba_2/fiuba_4_postulaciones.csv') ## memory usage: 579.6 MB
## UNIFICO TODOS LOS DATAFRAME EN UNO SOLO: ( postulaciones )
postulaciones = pd.concat([postulaciones_1, postulaciones_2])
postulaciones.reset_index()
postulaciones.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8311264 entries, 0 to 4909640
Data columns (total 3 columns):
idaviso             int64
idpostulante        object
fechapostulacion    object
dtypes: int64(1), object(2)
memory usage: 253.6+ MB

In [43]:
## PLANTEMOAS LA FECHA EN QUE SE VISITAS EL AVISO COMO UNA NUEVA COLUMNA DATETIME.
postulaciones['fechapostulacion'] = pd.to_datetime(postulaciones['fechapostulacion'], errors = 'coerce')
postulaciones.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8311264 entries, 0 to 4909640
Data columns (total 3 columns):
idaviso             int64
idpostulante        object
fechapostulacion    datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 253.6+ MB

In [46]:
## HACEMOS UNA DIFERENCIA ENTRE EL DÍA DE LA SEMANA EN EL QUE SE LLEVÓ A CABO LA POSTULACION.
postulaciones['dia_semana'] = postulaciones['fechapostulacion'].dt.weekday_name

In [48]:
postulaciones['dia_semana'] = postulaciones['dia_semana'].astype('category')
postulaciones['dia_semana'] = postulaciones['dia_semana'].cat.codes
postulaciones['dia_semana'] = postulaciones['dia_semana'].astype(np.int8)
postulaciones.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8311264 entries, 0 to 4909640
Data columns (total 4 columns):
idaviso             int64
idpostulante        object
fechapostulacion    datetime64[ns]
dia_semana          int8
dtypes: datetime64[ns](1), int64(1), int8(1), object(1)
memory usage: 261.6+ MB

In [49]:
## HACEMOS UNA DIFERENCIA ENTRE LA HORA EN QUE SE LLEVÓ A CABO LA POSTULACION.
postulaciones['hora'] = postulaciones['fechapostulacion'].dt.hour

In [50]:
postulaciones['hora'] = postulaciones['hora'].astype(np.int8)
postulaciones.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8311264 entries, 0 to 4909640
Data columns (total 5 columns):
idaviso             int64
idpostulante        object
fechapostulacion    datetime64[ns]
dia_semana          int8
hora                int8
dtypes: datetime64[ns](1), int64(1), int8(2), object(1)
memory usage: 269.5+ MB

In [51]:
## ELIMINAMOS LA COLUMNA DE LA FECHA PRECISA QUE NO NOS BRINDA MAYOR INFORMACION DE LA YA OBTENIDA.
postulaciones.drop('fechapostulacion', axis=1, inplace=True)
postulaciones.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8311264 entries, 0 to 4909640
Data columns (total 4 columns):
idaviso         int64
idpostulante    object
dia_semana      int8
hora            int8
dtypes: int64(1), int8(2), object(1)
memory usage: 206.1+ MB

In [21]:
## VEMOS SI HAY DUPLICADOS.
## ids = postulaciones["idaviso"]
## postulaciones[ids.isin(ids[ids.duplicated()])].sort_values("idaviso")
pos_repetidas = postulaciones[postulaciones.duplicated(subset=['idaviso','idpostulante','fechapostulacion'], keep=False)]

AttributeError: 'str' object has no attribute 'duplicated'

In [ ]:
#########################################################################################################################
#########################################################################################################################
### DATOS DE PRUEBA. ###
#########################################################################################################################
#########################################################################################################################

In [12]:
## PLANTEMOAS LA FECHA EN QUE SE VISITAS EL AVISO COMO UNA NUEVA COLUMNA DATETIME.
vistas_avisos['fecha_vista'] = pd.to_datetime(vistas_avisos['timestamp'], errors = 'coerce')
## HACEMOS UNA DIFERENCIA ENTRE EL DÍA DE LA SEMANA EN EL QUE SE LLEVÓ A CABO LA VISITA.
vistas_avisos['dia_semana'] = vistas_avisos['fecha_vista'].dt.weekday_name
## CREAMOS UN ORDENAMIENTO PARA LOS DÍAS DE LA SEMANA, COSA DE QUE NO QUEDE ORDENADA POR VALORES ASCENDENTES.
vistas_avisos['dia_semana'] = pd.Categorical(vistas_avisos['dia_semana'], categories=['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday', 'Sunday'], ordered=True)

In [ ]:
## LE AGREGAMOS EL DETALLE DE LOS AVISOS A LAS VISITAS QUE ESTAMOS TRABAJANDO.
## vistas_avisos.reset_index() 
## vistas_avisos.info()
## avisos_detalle.info()
vistas_avisos = vistas_avisos.merge(avisos_detalle,left_on='idAviso', right_on='idaviso',how='left')
## vistas_avisos_3.info()
## vistas_avisos_3.isnull().count()

In [ ]:
## LIMPIAMOS LOS ACENTOS PARA LA DENOMINACION_EMPRESA QUE NOS TRAEN PROBLEMAS A LA HORA DE GRAFICAR.
vistas_avisos['denominacion_empresa'] = vistas_avisos['denominacion_empresa'].str.replace("á", "a")
vistas_avisos['denominacion_empresa'] = vistas_avisos['denominacion_empresa'].str.replace("é", "e")
vistas_avisos['denominacion_empresa'] = vistas_avisos['denominacion_empresa'].str.replace("í", "i")
vistas_avisos['denominacion_empresa'] = vistas_avisos['denominacion_empresa'].str.replace("ó", "o")
vistas_avisos['denominacion_empresa'] = vistas_avisos['denominacion_empresa'].str.replace("ú", "u")

In [4]:
## OBTENEMOS TODA LA INFORMACIÓN DE: ( test_final_100k )
test_final = pd.read_csv('navent_fiuba_4/test_final_100k.csv') ## memory usage: 6.4 MB

In [8]:
test_final['probabilidad'] = 0

In [10]:
test_final['probabilidad'] = test_final['probabilidad'].astype(float)

In [11]:
test_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 4 columns):
id              100000 non-null int64
idaviso         100000 non-null int64
idpostulante    100000 non-null object
probabilidad    100000 non-null float64
dtypes: float64(1), int64(2), object(1)
memory usage: 3.1+ MB

In [5]:
### VER USOS DE MEMORIA.#########################
### avisos_detalle_4.info(memory_usage='deep')
### #############################################